body {
  padding-top: 50px;
}

.title {
  width: 100%;
  color: black;
}

.title {
  margin-top: 0px;
}


/***********************************
          CARDS STYLE
***********************************/

.card {
  box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: all .4s;
  color: black;
  /* background-color: var(--primary); */
}

.card-header {
  background-color: var(--primary);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 3px 15px 5px rgba(0,0,0,0.2);
}

#project-type,
#project-info {
  margin-top: 50px;
  margin-bottom: 100px;
}

#project-type .title,
#project-info .title{
  margin: 0;
  padding: 0;
  text-align: left;
  margin-bottom: 30px;
  font-size: 2.5rem;
}

/* #web-app  {
  background-color: #663399; 
} */

#web-app .card-header {
  background-color: #663399;
}

/* #android-app  {
  background-color: #a4c639; 
} */

#android-app .card-header {
  background-color: #a4c639;
}

/* #api {
  background-color: red;
} */

#api .card-header {
  background-color: red;
}

.selected {
  box-shadow: 0px 3px 15px 0px rgba(35,133,216,1);
}