
#particles-js {
    background: linear-gradient(to bottom, rgba(0,0,0,0.36) 100%, transparent), 
    url('../images/blue-nebula.jpg');
	background-size: cover, cover;
	background-position: center, center;
	height: 100vh;
    width: 100%;
    overflow: hidden;
}

.h1-wrapper {
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
	top: 0;
	overflow: hidden;
	/* padding: 20px; */
}

#particles-js h1 {
	color: white;
	margin-top: 300px;
}

h1 {
	font-size: 3.5rem;
	display: inline-block;
	padding: 1rem;
	font-weight: 800;
    position: relative;
	left: 50%;
	opacity: 1;
    /* transform: scale(1); */
    transform: translateX(-50%);
    transition: opacity 4s ease;
   
    background: transparent;
}

.animated-title {
	padding-left: 20px;
	padding-right: 20px;
}

.is-loading .animated-title {
	transform: scale(0.9);
	opacity: 0;
}

body {
	background-color:#aaa;
  } 
  svg {
	width:100%;
	margin-top: 350px;
  }
  .text--line {
	font-size:4.5rem;
	font-family: 'Poppins', sans-serif;
	font-weight:600;
  }
  
  #outline {
	fill: none;
	stroke:white;
	stroke-dasharray:100%;
	stroke-dashoffset:0;
	animation-name: outline;
	animation-duration: 6s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
  }
  
  #fill {
	fill-opacity: 0;
	fill:white;
	animation-name: fill;
	animation-duration: 1.5s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
	animation-delay: 1s;
  }
  
  
  @keyframes outline{
	from{
	  stroke-dashoffset:100%;
	}
	
	to{
	  stroke-dashoffset:0;
	}
  }
  
  @keyframes fill{
	from{
	  fill-opacity: 0;
	}
	
	to{
	  fill-opacity: 1;
	}
  }

.under-title {
	text-align: center;
	color: white;
	font-size: 1.5em;
	font-style: italic;
	position: absolute;
	left:50%;
	top: 95%;
	transform: translateX(-50%) translateY(-50%);
	display: none;
}