
#particles-js {
    background: linear-gradient(to bottom, rgba(0,0,0,0.36) 100%, transparent), 
    url('../images/blue-nebula.jpg');
	background-size: cover, cover;
	background-position: center, center;
	height: 100vh;
    width: 100%;
    overflow: hidden;
}

.h1-wrapper {
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
	top: 0;
	overflow: hidden;
	padding: 20px;
}

#particles-js h1 {
	color: white;
	margin-top: 300px;
}

h1 {
	font-size: 3.5rem;
	display: inline-block;
	padding: 1rem;
	font-weight: 800;
    position: relative;
	left: 50%;
	opacity: 1;
    /* transform: scale(1); */
    transform: translateX(-50%);
    transition: opacity 4s ease;
   
    background: transparent;
}

.is-loading .animated-title {
	transform: scale(0.9);
	opacity: 0;
}

 .animated-title:before,
 .animated-title:after {
	height: 2px;
	width: 100%;
	content: "";
	background: white;
	display: block;
	position: absolute;
	transition: width 0.4s ease;
	transition-delay: 0.8s;
}

  .animated-title:before {
	top: 0;
	left: 0;
}

  .animated-title:after {
	bottom: 0;
	right: 0;
}

 .is-loading .animated-title:before,
 .is-loading .animated-title:after {
	width: 0;
}